.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100%;
    max-width: 100%;
}

.matrix-input-cell {
  text-align: center;
  border: 1px solid lightgrey;
}

#shiny-notification-panel {
  position: fixed;
  bottom: 50px;
  left: 300px;
  background-color: rgba(0,0,0,0);
  padding: 2px;
  width: 250px;
  z-index: 99999;
}
